.table {
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  /* max-width: 600px; */

  /* @media only screen and (max-width: 700px) {
    font-size: 58%;
  } */
}

.common-row {
  display: grid;
  column-gap: 1rem;
  align-items: center;
  transition: none;
}

/* td { */
/* display: flex;
  justify-content: center; */
/* } */

th {
  text-transform: uppercase;
}

.cell {
  align-items: center;
}

.header {
  padding: 1.6rem 2.4rem;
  background-color: var(--color-grey-0);
  border-bottom: 1px solid var(--color-grey-100);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 600;
  color: var(--color-grey-600);
}

.row {
  padding: 0.4rem 1.6rem;
  /* &:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-100);
  } */
}

.body {
  margin: 0.4rem 0;
}

.empty {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}

.positionCell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.blueBg {
  background-color: blue;
  color: #fff;
}

.redBg {
  background-color: red;
  color: #fff;
}

.greenBg {
  background: green;
  color: #fff;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #000;
}

.link:hover,
.link:active {
  text-decoration: underline;
}

.sortable {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.sortable:hover {
  text-decoration: underline;
}

/* @media only screen and (max-width: 500px) {
  .common-row {
    column-gap: 2.2rem;
    background-color: pink;
  }
} */

.filter {
  height: 20px;
}

.activeFilter {
  color: #000;
}

.icon {
  font-size: 20px;
  background-color: red;
}
