.center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10rem 0;
  height: 100vh;
  width: 100vw;
}

/* NAV*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .nav-btn {
  visibility: hiddne;
  opacity: 0;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 60rem) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
    transform: translateX(100vh);
    background-color: var(--color-grey-900);
    z-index: 100;
  }

  header .repsonsive-nav {
    transform: none;
    align-items: start;
    padding-top: 10rem;
  }

  .nav-list {
    flex-direction: column;
  }
}

.nav-close-btn {
  position: absolute;
  top: 3rem;
  right: 5rem;
}

.logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  user-select: none;
  color: var(--color-grey-0);
}

.logo-icon {
  font-size: 3rem;
  color: var(--color-red-700);
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--color-grey-900);
  color: #c8cdcd;
}
.nav-list {
  display: flex;
  gap: 4rem;
  list-style: none;
  letter-spacing: 0.3px;
  font-size: 1.8rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  transition: color 0.4s ease-in;
  padding: 1rem 2rem;
  color: #c8cdcd;
  font-size: 1.6rem;
}

.nav-link:hover {
  text-decoration: none;
  color: #fff;
}

.nav-link::first-letter {
  font-weight: 600;
}

.active {
  color: #fff !important;
  border-bottom: var(--color-red-700) 5px solid;
}

.positionCell {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* Cell background */

.blueBg {
  background-color: var(--color-brand-600);
  color: #fff;
}

.redBg {
  background-color: var(--color-red-700);
  color: #fff;
}

.greenBg {
  background: var(--color-green-700);
  color: #fff;
}
